table {
  width: 100%;
  margin: 0 auto; 
  align-self: center;
}

td.value {
    padding: 3px;
    font-size: 14px;
    text-align:center;
    width: 25%;
  }


td.street {
    padding: 3px;
    font-size: 14px;
    text-align:center;
    width: 50%;
  }

th.value {
    padding: 3px;
    font-size: 14px;
    text-align:center;
    width: 25%;
  }


th.street{
    padding: 3px;
    font-size: 14px;
    text-align:center;
    width: 50%;
  }

div.main{
  min-height: 70vh;
  max-height: 70vh;
  min-width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


  
div.left{
  width: 47%;
  order: 1;
  min-width: 300px;
  padding: 20px 20px 20px 20px;
}

div.right{
  width: 47%;
  order: 2;
  min-width: 300px;
}

.centerAlign{
  width: 100%;
  float: center;
  text-align: center;
  vertical-align: middle; 
}


::ng-deep .mat-form-field.filter {
    width: 40%;
    padding: 20px 80px 20px 80px;
    background-color: #feda6a;
    text-align: center;
}

::ng-deep .mat-option-text{
  text-align: center;
}

::ng-deep .mat-headline{
  position: absolute;
  width:  100vw;
  text-align: center;
  font-size: 4.5em;
  top: 8%;
  vertical-align: middle;  
  font: url('/../../assets/Archivo-Bold.ttf');
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(black,.15);
  text-transform: uppercase;
}

div.header{
  min-height: 150px;
  max-height: 15vh;
}

div.footer{
  min-height: 150px;
  max-height: 15vh;
}
